.DS_Store
.idea/

# Byte compiled
*.py[cod]

# Packages
*.egg
*.egg-info

*.pdf

/docs/build/
/examples/.ipynb_checkpoints/
/docs/source/guide/ipynb/.ipynb_checkpoints/
/docs/source/api-doc/_autosummary/
