.DS_Store
.idea/

# Byte compiled
*.py[cod]

# Packages
*.egg
*.egg-info

*.pdf

/docs/build/
/examples/.ipynb_checkpoints/
/docs/source/guide/ipynb/.ipynb_checkpoints/
/docs/source/api-doc/_autosummary/
/docs/source/_generated/
/docs/source/guide/.ipynb_checkpoints/
/docs/source/guide/basics/.ipynb_checkpoints/
/docs/source/guide/circuit/ipynb/.ipynb_checkpoints/
/docs/source/guide/explorer/ipynb/.ipynb_checkpoints/
/docs/source/guide/parametersweep/ipynb/.ipynb_checkpoints/
