@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


h1 {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 300;
    font-family: Roboto,"Open Sans", ff-tisa-web-pro,Arial,sans-serif;
}

h2 {
    margin-top: 60px;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 32px;
    color: #4d77cf;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 40px;
    color: #4d77cf;
}

b, strong {
  font-weight: 700;
}

.rst-content .toctree-wrapper > p.caption, h2, h3, h4, h5, h6, legend {
    margin-top: 50px;
    font-weight: 400;
    font-family: Roboto, "Open Sans", ff-tisa-web-pro, Arial, sans-serif;
}

.rst-content code, .rst-content tt, code, cite {
    white-space: nowrap;
    font-style: normal;
    font-size: 100%;
    font-weight: 650;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    color: rgb(0, 90, 130);
    line-height: 1.5;
}

div.nboutput.container div.output_area {
  background: #d3d3d330;
}

body {
    font-family: Roboto, "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(74,74,74);
}

.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
    font-style: normal;
    font-size: 100%;
    font-weight: 500;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    line-height: 1.5;
}

.navbar .container-xl {
	height: 70px;
}

.navbar-light {
	background: rgb(247,248,249) !important;
}

.navbar-brand img {
  max-width: 70%;
  height: auto;
  width: 60%;
}

nav.bd-links .active:hover > a, nav.bd-links .active > a {
  background-color: #f3f3f3;
}

address, dl, ol, ul {
	margin-bottom: 2rem;
}

ol.simple p, ul.simple p {
  margin-bottom: 10px;
}

.sig {
	font-family: var(--pst-font-family-monospace);
	background: #f0f8ffd9;
}

.sig-name {
	color: rgb(0,0,0);
}

p.rubric {
	border-bottom: 1px solid #c9c9c9;
	margin-top: 30px;
}

pre {
	font-size: 95%;
	line-height: 1.5em;
    background-color: aliceblue;
}

div.nbinput.container div.prompt pre, div.nboutput.container div.prompt pre {
	overflow: hidden;
	visibility: hidden;
}

.bd-toc .onthispage {
	color: #053d5a;
	/* font-weight: 500; */
	font-size: 17px;
}

p {
	margin-bottom: 0.6rem;
	margin-top: 0.7rem;
}
