@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
      margin-bottom: 24px;
      margin-top: 24px;
      max-width: 100%;
   }

   .wy-nav-content-wrap {
      background: rgba(0,0,0,0);
   }
}

.wy-nav-content-wrap {
  background: rgba(0,0,0,0);
}

/* Do not draw borders around Python keywords in (e.g. in API section) */
.rst-content code, .rst-content tt, code {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

/* Font overrides */
h1 {
    font-size: 45px;
    line-height: 34px;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: 300;
    font-family: Roboto,"Open Sans", ff-tisa-web-pro,Arial,sans-serif;
}

h2 {
    margin-top: 60px;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 32px;
    color: #4d77cf;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 40px;
    color: #4d77cf;
}

b, strong {
  font-weight: 900;
}

.rst-content .toctree-wrapper > p.caption, h2, h3, h4, h5, h6, legend {
    margin-top: 50px;
    font-weight: 400;
    font-family: Roboto, "Open Sans", ff-tisa-web-pro, Arial, sans-serif;
}

.rst-content code, .rst-content tt, code, cite {
    white-space: nowrap;
    font-style: normal;
    font-size: 100%;
    font-weight: 700;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    color: rgb(0, 90, 130);
}

body {
    font-family: Roboto, "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(74,74,74);
}

.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
    font-style: normal;
    font-size: 100%;
    font-weight: 700;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    line-height: 1.4;
}

.rst-content code.literal, .rst-content tt.literal {
    color: rgb(0, 90, 130);
    background: transparent;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 900px;
    margin-left: 40px;
}

.highlight {
    background: rgb(280, 280, 280);
}

html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt {
    font-size: 105%;
    font-style: normal;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    line-height: 180%;
}

.rst-content dl dt {
    font-size: 110%;
}

.rst-content p.rubric {
  margin-top: 30px;
  margin-bottom: 12px;
  font-weight: 700;
  border-bottom: 1px solid;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {
  background-color: #f3f6f600;
}

.rst-content table.docutils, .wy-table-bordered-all {
  border: none;
}

.rst-content table.docutils td, .wy-table-bordered-all td {
  border-left: none;
}

.rst-content .section ol li > p:only-child, .rst-content .section ol li > p:only-child:last-child, .rst-content .section ul li > p:only-child, .rst-content .section ul li > p:only-child:last-child {
    margin-bottom: 10px;
}

.rst-content .section ol.simple li > *, .rst-content .section ol.simple li ol, .rst-content .section ol.simple li ul, .rst-content .section ul.simple li > *, .rst-content .section ul.simple li ol, .rst-content .section ul.simple li ul {
    margin-top: 5px;
    margin-bottom: 15px;
}

.wy-menu-vertical a {
    font-size: 100%;
}

.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 50px;
    padding: 8px 14px;
    border-color: #2472a4;
}

input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    font-size: 100%;
    font-family: "Open Sans",Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
}
