autodoc
cycler
docutils
h5py>=2.7.1
IPython
ipykernel
ipywidgets
matplotlib>=3.5.1
nbsphinx
numpy>=1.14.2
pathos
pygments>=2.4.1
pydata-sphinx-theme==0.9
scipy>=1.1.0
sphinx>=4.5
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
sphinxcontrib-napoleon
scqubits==4.2
