sphinx>=4.5
docutils
pygments>=2.4.1
pydata-sphinx-theme==0.8.1
IPython
nbsphinx
sphinxcontrib-napoleon
sphinx-autodoc-typehints
autodoc
numpy>=1.14.2
scipy>=1.1.0
matplotlib>=3.0.0
h5py>=2.7.1
cycler
scqubits
